@import './base.css';

body {
  font-family: 'X5 Sans';
  font-weight: 300;
  font-style: normal;
  line-height: calc(var(--app-height) * 2.9 / 100);
  height: var(--app-height);
  width: var(--app-width);
  padding: 0;
  margin: 0;
  color: #ffffff;
  background: #ffffff;
  overflow: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


#app {
  height: 100%;
  overflow: hidden;
  width: var(--app-width);
}

main {
  height: 100%;
  /* position: absolute;
  top: 0;
  left: 0;
  height: 100%; */
  
  width: 100%;
}